<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="Content-Type" content="text/html"></meta>
        <title>Spring Boot Persona</title>
    </head>

    <body>
        <div>
            <h1>Spring Boot Persona</h1>
            <a href="/agregarEntrada">Agregar Entrada</a>
            <ul>
                <div th:each="entry,status : ${persona}">
                    <li>
                        <div></div>
                        <div>
                            <div>
                                <h4><span th:text="${entry.nombre}">Nombre</span></h4>
                                <h4><span th:text="${entry.apellidoUno}">Apellido Uno</span></h4>
                                <h4><span th:text="${entry.apellidoDos}">Apellido Dos</span></h4>
                                <h4><span th:text="${entry.direccion}">Dirección</span></h4>
                                <p><small><i></i>
                                    <span th:text="${entry.createdAsShort}">Nacimiento</span></small></p>
                            </div>
                        </div>

                        <a th:href="@{/editar/{id}(id=${entry.id})}">Editar</a>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <a th:href="@{/borrar/{id}(id=${entry.id})}">Borrar</a>

                    </li>
                </div>
            </ul>
        </div>
    </body>
</html>